doctype html
html
  head
    title= "BearAttack-leveler"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-1.11.0.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/script.js')

  body

  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      a.navbar-brand(href="#") BearAttack-leveler
    .navbar-form
      .col-md-2
        select#method.form-control
          option(value=0)="Elements"
          option(value=1)="Collision"
      .col-md-6
        .input-group
          input#input.form-control(value="Watch out for bears!")
          span.input-group-btn
            button#save.btn.btn-default Save

block content

  #squares.wrapper

