body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEE8D5;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a {
  color: #00B7FF;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 2.5em;
}
.wrapper {
  width: 1050px;
  margin: auto;
}
.loading {
  background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}
.label.label-primary {
  margin-top: 10px;
  display: inline-block;
}
#verify-message {
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 5px 0 10px 0;
}
#message.invalid {
  color: red;
}
#squares {
  text-align: center;
}
#squares .square {
  height: 31px;
  width: 31px;
  margin: 2px;
  display: inline-block;
  font-size: 15px;
}
#squares .square.red {
  background: #E80939;
}
#squares .square.green {
  background: #12A106;
}
#squares .square.hidetext {
  color: transparent;
}
